---
layout: default
---

<div class="site-content">
	<div class="post-latest">
		<h5><i class="far fa-bell section-icon"></i>最新发布</h5>
		{% assign foundImage = 0 %}
		{% assign images = site.posts.first.content | split:"<img " %}
		{% for image in images %}
			{% if image contains 'src' %}
				{% if foundImage == 0 %}
					{% assign html = image | split:"/>" | first %}
						<img {{ html }} />
					{% assign foundImage = 1 %}
				{% endif %}
			{% endif %}
		{% endfor %}
		<h3><a href="{{ site.posts.first.url }}">{{ site.posts.first.title}}</a></h3>
		{{ site.posts.first.excerpt | markdownify}}
	</div>

	<div class="post-featured">
		<h5><i class="far fa-heart section-icon"></i>精彩推荐</h5>
		{% for post in site.tags.featured limit:4 %}
			<div class="post-featured-brief">
				{% assign foundImage = 0 %}
				{% assign images = post.content | split:"<img " %}
				{% for image in images %}
					{% if image contains 'src' %}
						{% if foundImage == 0 %}
							{% assign html = image | split:"/>" | first %}
								<img {{ html }} />
							{% assign foundImage = 1 %}
						{% endif %}
					{% endif %}
				{% endfor %}
				<h4><a href="{{ post.url }}">{{ post.title}}</a></h4>
				{{ post.excerpt | strip_html }}
			</div>
		{% endfor %}
		<div class="clearfix"></div>
	</div>

	<div class="post-series">
		<h5><i class="far fa-bookmark section-icon"></i>专题系列</h5>
		<div class="post-series-tag" id="swift">
			<h4><i class="fab fa-swift series-icon"></i>Swift 编程语言</h4>
			<ul class="post-series-column3">
				{% for post in site.tags.swift reversed %}
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
				<div class="clearfix"></div>
			</ul>
		</div>

		<div class="post-series-tag" id="objective-c">
			<h4><i class="fas fa-laptop-code series-icon"></i>Objective-C 编程语言</h4>
			<ul class="post-series-column2">
				{% for post in site.tags.objective-c reversed %}
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
				<div class="clearfix"></div>
			</ul>
		</div>
		
		<div class="post-series-tag" id="ios-basic">
			<h4><i class="fab fa-app-store-ios series-icon"></i>iOS 编程基础</h4>
			<ul class="post-series-column2">
				{% for post in site.tags.ios-basic reversed %}
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
				<div class="clearfix"></div>
			</ul>
		</div>

		<div class="post-series-tag" id="core-data">
			<h4><i class="fas fa-database series-icon"></i>Core Data 数据存储</h6>
			<ul class="post-series-column2">
				{% for post in site.tags.core-data reversed %}
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
				<div class="clearfix"></div>
			</ul>
		</div>

		<div class="post-series-tag" id="opengl">
			<h4><i class="fas fa-cube series-icon"></i>OpenGL ES 图像处理</h6>
			<ul class="post-series-column3">
				{% for post in site.tags.opengl reversed %}
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
				<div class="clearfix"></div>
			</ul>
		</div>

		<div class="post-series-tag" id="metal">
			<h4><i class="fas fa-cube series-icon"></i>Metal 图像处理</h4>
			<ul class="post-series-column3">
				{% for post in site.tags.metal reversed %}
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
				<div class="clearfix"></div>
			</ul>
		</div>

		<div class="post-series-tag" id="ffmpeg">
			<h4><i class="fas fa-stream series-icon"></i>FFmpeg 音视频处理</h6>
			<ul class="post-series-column3">
				{% for post in site.tags.ffmpeg reversed %}
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
				<div class="clearfix"></div>
			</ul>
		</div>

		<div class="post-series-tag" id="ios-av">
			<h4><i class="fas fa-video series-icon"></i>iOS 音视频开发</h4>
			<ul class="post-series-column3">
				{% for post in site.tags.ios-av reversed %}
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
				<div class="clearfix"></div>
			</ul>
		</div>
		
		<div class="post-series-tag" id="ruby">
			<h4><i class="fas fa-gem series-icon"></i>Ruby 编程语言</h4>
			<ul class="post-series-column2">
				{% for post in site.tags.ruby reversed %}
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
				<div class="clearfix"></div>
			</ul>
		</div>

		<div class="post-series-tag" id="rails">
			<h4><i class="fas fa-road series-icon"></i>Rails 服务端 Web 框架</h4>
			<ul class="post-series-column3">
				{% for post in site.tags.rails reversed %}
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
				<div class="clearfix"></div>
			</ul>
		</div>

		<div class="post-series-tag" id="ubuntu-apache">
			<h4><i class="fas fa-server series-icon"></i>Ubuntu Apache HTTP 服务器</h4>
			<ul class="post-series-column3">
				{% for post in site.tags.ubuntu-apache reversed %}
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
				<div class="clearfix"></div>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="post-archive">
		<h5><i class="far fa-folder section-icon"></i>分类归档</h5>
		<div class="post-archive-category">
			<h6><i class="fas fa-code archive-icon"></i>编程</h6>
			<ul>
				{% for post in site.categories.programming %}
				<li><span>{{ post.date | date:"%y-%m-%d"}}</span> » <a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
				<div class="clearfix"></div>
			</ul>
		</div>

		<div class="post-archive-category">
			<h6><i class="fas fa-palette archive-icon"></i>设计</h6>
			<ul>
				{% for post in site.categories.design %}
				<li><span>{{ post.date | date:"%y-%m-%d"}}</span> » <a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
				<div class="clearfix"></div>
			</ul>
		</div>

		<div class="post-archive-category">
			<h6><i class="fas fa-briefcase archive-icon"></i>商业</h6>
			<ul>
				{% for post in site.categories.business %}
				<li><span>{{ post.date | date:"%y-%m-%d"}}</span> » <a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
				<div class="clearfix"></div>
			</ul>
		</div>

		<div class="post-archive-category">
			<h6><i class="fas fa-coffee archive-icon"></i>生活</h6>
			<ul>
				{% for post in site.categories.life %}
				<li><span>{{ post.date | date:"%y-%m-%d"}}</span> » <a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
				<div class="clearfix"></div>
			</ul>
		</div>
	</div>

</div>
