<footer class="site-footer">
  <div class="wrapper">
		<p>如果你觉得以上思考对你有帮助，请<a href="{{ "/feed.xml" | prepend: site.baseurl }}">订阅博客</a>，或尝试工作室的<a href="{{ site.home }}">产品和服务</a></p>
  </div>
</footer>
<script>
	(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
	function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
	e=o.createElement(i);r=o.getElementsByTagName(i)[0];
	e.src='//www.google-analytics.com/analytics.js';
	r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
	ga('create','UA-33658695-1');ga('send','pageview');
</script>
