/**
 * Site header
 */
.site-header {
	border-top: 5px solid $brand-color;
	text-align: center;
	p {
		font-size: $small-font-size;
		color: $grey-color;
		padding-top: 10px;
		a {
			margin: 0 5px;
		}
	}
}

/**
 * Site footer
 */
.site-footer {
	border-top: 1px solid $grey-color-light;
	text-align: center;
	padding: $spacing-unit 0;
	font-size: $small-font-size;
	color: $grey-color;
	a {
		margin: 0 5px;
	}
}

/**
 * Site content
 */
.site-content {
	padding: $spacing-unit 0;
}

.post-archive {
	padding: $spacing-unit 0 0;
	h2 {
		font-size: $base-font-size;
		font-weight: bold;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			padding: 0;
			list-style: none;
			span {
				font-size: $small-font-size;
				color: $grey-color;
			}
		}
	}
}

/**
 * Posts
 */
.post-header {
	margin: $spacing-unit 0;

	.post-avatar {
		float: left;
		img {
			width: 50px;
			height: 50px;
		}
	}

	.post-meta {
		float: left;
		margin-left: 15px;
	}
}


.post-content {
	margin-bottom: $spacing-unit;
}
