/**
 * Site header
 */
.site-header {
	border-top: 5px solid $brand-color;
	text-align: center;
	p {
		font-size: $small-font-size;
		color: $grey-color;
		padding-top: 10px;
		a {
			margin: 0 5px;
		}
	}
}

/**
 * Site footer
 */
.site-footer {
	border-top: 1px solid $grey-color-light;
	text-align: center;
	padding: $spacing-unit 0;
	font-size: $small-font-size;
	color: $grey-color;
	a {
		margin: 0 5px;
	}
}

/**
 * Site content
 */
.site-content {
	padding: $spacing-unit 0;
	p {
		margin-bottom: 0;
	}
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.post-section-title {
	margin: 0 0 $spacing-unit / 2 0;
	padding: 0;
	font-weight: 300;
	font-size: $base-font-size * 20 / 16;
	@include media-query($on-phone) {
		font-size: $base-font-size * 17 / 16;
	}	
}

.post-latest {
	padding-bottom: $spacing-unit * 2;
	margin-bottom: $spacing-unit * 2;
	border-bottom: 1px solid $grey-color-light;
	h3 {
		margin-top: $spacing-unit;
		margin-bottom: $spacing-unit;
		a {
			text-decoration: none;
		}
	}
}

.post-featured {
	padding-bottom: $spacing-unit;
	margin-bottom: $spacing-unit * 2;
	border-bottom: 1px solid $grey-color-light;
	div.post-featured-brief {
		float: left;
		width: 45%;
		margin-right: 5%;
		margin-bottom: $spacing-unit;
		h4 {
			margin-top: $spacing-unit / 2;
			margin-bottom: $spacing-unit / 2;
			a {
				text-decoration: none;
			}
		}
		@include media-query($on-phone) {
			float: none;
			width: 100%;
			margin-right: 0;
		}	
	}
}

.post-series {
	padding-bottom: $spacing-unit;
	margin-bottom: $spacing-unit * 2;
	border-bottom: 1px solid $grey-color-light;
	div.post-series-tag {
		margin-bottom: $spacing-unit;
		ul {
			margin: 0;
			padding-left: 1.35em;
			li {
				list-style: none;
				&:before {
					content: "";
					border-color: transparent $grey-color;
					border-style: solid;
					border-width: 0.35em 0 0.35em 0.45em;
					display: block;
					height: 0;
					width: 0;
					left: -1em;
					top: 1.2em;
					position: relative;
				}
			}
		}
		ul.post-series-column2 li {
			float: left;
			width: 45%;
			margin-right: 5%;
		}
		ul.post-series-column3 li {
			float: left;
			width: 28%;
			margin-right: 5%;
		}
		@include media-query($on-phone) {
			ul.post-series-column2 li, ul.post-series-column3 li {
				float: none;
				width: 100%;
				margin-right: 0;
			}
		}	
	}
}

.post-series-title {
	margin: 0 0 $spacing-unit / 2 0;
	padding: 0;
	font-weight: 300;
	font-size: $base-font-size * 25 / 16;
	@include media-query($on-phone) {
		font-size: $base-font-size * 18 / 16;
	}	
}

.post-archive {
	margin-bottom: $spacing-unit;
	div.post-archive-category {
		margin-bottom: $spacing-unit;
		ul {
			margin: 0;
			padding: 0;
			li {
				margin: 0;
				padding: 0;
				float: left;
				width: 45%;
				margin-right: 5%;
				list-style: none;
				span {
					font-size: $small-font-size;
					color: $grey-color;
				}
			}
		}
		@include media-query($on-phone) {
			ul {
				li {
					float: none;
					width: 100%;
					margin-right: 0;
				}
			}
		}	
	}
}

.post-archive-title {
	margin: 0 0 $spacing-unit / 2 0;
	padding: 0;
	font-weight: 300;
	font-size: $base-font-size * 16 / 16;
}

/**
 * Posts
 */
.post-header {
	margin: $spacing-unit 0;

	.post-avatar {
		float: left;
		img {
			width: 50px;
			height: 50px;
		}
	}

	.post-meta {
		float: left;
		margin-left: 15px;
	}
}


.post-content {
	margin-bottom: $spacing-unit;
}
